:root[data-theme="light"] {
  --text: #1a1a1a;
  --background: #fbfbfe;
  --primary: #592c6d;
  --secondary: #3b3b3b;
  --accent: #592c6d;
}

:root[data-theme="dark"] {
  --text: #e6e6e6;
  --background: #010104;
  --primary: #bf92d3;
  --secondary: #c4c4c4;
  --accent: #bf92d3;
}